<div class="container">
  <h2>Todo List</h2>
  <p>Add an item</p>
  <div class="todo">
    <div class="input">
      <input
        type="text"
        [(ngModel)]="newTodo"
        placeholder="Enter an item name"
      />
      <button (click)="addTodo()">ADD</button>
    </div>
    <!-- [ngClass]="{'completed-text': todo.completed}" -->
    <div class="todos">
      <ul>
        <li *ngFor="let todo of todos; let i = index">
          <ng-container *ngIf="!todo.isEditing; else editTodoInput">
            <input class="check" type="checkbox" [(ngModel)]="todo.completed" />
            <span [ngClass]="{ 'completed-text': todo.completed }">
              {{ todo.text }}
            </span>
            <div class="btns">
              <button (click)="removeTodo(i)">Remove</button>
              <button (click)="editTodo(i)">Edit</button>
            </div>
          </ng-container>
          <ng-template #editTodoInput>
            <input
              class="nextOne"
              [(ngModel)]="todo.text"
              (keyup.enter)="updateTodo()"
              (blur)="updateTodo()"
            />
            <button (click)="updateTodo()">Done</button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
